<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
{% extends "simple_login.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
	  <div class="login-box col-md-12">


<center><h1>Login</h1></center>
<form method="post">
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <a href="{% url 'password_reset' %}">Forgot Your Password?</a><br>
  <br>
  <button type="submit" class="btn btn-primary">Login</button>
  &emsp;&emsp;&emsp;&emsp;&emsp;
  
  Don't have an account? <a href="{% url 'signup' %}" class="text-info">Sign up now</a>
</form>


			</div>
      </div>
    </div>
    </div>

{% endblock content %}
</body>



